#{extends 'main.html' /}
#{set title:'map' /}
#{set 'moreScripts'}
    #{script 'application.js'/}
#{/set}

<div id="saved_term"></div>
<div id="bg"><div id="bg_inner"></div></div> 
<div id="top_term_info_c">
	<h1>Displaying recent tweets about <span id="top_term_info"></span></h1>
</div>
<!-- 
<div id="content_c" class="vertical_outer">
	<div class="vertical_middle">
		<div id="form_c" class="vertical_inner">
			<a id="close" href="#" title="Close"><img src="/images/close.png" alt="Close" /></a>
			<h1>Display recent tweets about:</h1>

			<div id="term_c">

			</div>
		</div>
	</div>
</div>
 -->
<div id="map_canvas"></div>